{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <a href="/privacy"><img style="width: 30rem; height: 30rem" class="profile" src="{{ . }}"></a> {{ end }}
        <h2>{{ .Site.Title }}</h2>
        <h3>{{ markdownify .Site.Params.Description }}</h3>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
</main>

{{ partial "footer" . }}
