        <footer>
            <p class="copyright text-muted">{{ .Site.Params.copyright | default "&copy; All rights reserved. Powered by [Hugo](https://gohugo.io) and [Minimal](https://github.com/calintat/minimal)." | markdownify }}</p>
        </footer>

        {{ range .Site.Params.js }}
        <script src="{{ . }}"></script>
        {{ end }}

        {{ partial "body-close" . }}
        
    </body>

</html>
